# Compiled class file
*.class

# Log file
*.log

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
replay_pid*

target
frontend
hsqldb
target
.idea
logs
package.json
package-lock.json
tsconfig.json
types.d.ts
src/main/dev-bundle/
calendarAggregator.iml
dbdumps
pom.xml.versionsBackup
app/src/main/dev-bundle
app/java.cmd
app/javaHome.cmd
app/dependency-reduced-pom.xml
