<!DOCTYPE html>
<html lang="en" th:replace="template :: template(~{::head},~{::body})">
<head>
    <style>
        .pagewidth {
            max-width:1000px;
        }

        .datechange {
            border-top-width:2px !important;
        }
    </style>
</head>
<body>
<table class="table is-hoverable">
    <thead>
    <tr>
        <td>When</td>
        <td>What</td>
        <td>Check here</td>
    </tr>
    </thead>
    <tbody>
    <th:block th:each="startDateTime : ${#lists.sort(dateTimeToEventsMap.keySet())}">
        <tr th:each="event,dateIterStat : ${dateTimeToEventsMap.get(startDateTime)}">
            <td th:classappend="${dateIterStat.index == 0} ? datechange" th:text="${whenMap.get(event)}">...</td>
            <td th:classappend="${dateIterStat.index == 0} ? datechange" th:text="${whatMap.get(event)}">...</td>
            <td th:classappend="${dateIterStat.index == 0} ? datechange">
                         <span class="icon">
                           <a th:href="${event.calendarSource().calendarLocation().url()}" target="_blank"><i class="fas fa-arrow-up-right-from-square"></i></a>
                         </span>
            </td>
        </tr>
    </th:block>
    </tbody>
</table>
</body>
</html>
